@import "./variables";

.about-container {
  width: 50rem;
  max-width: 80%;
  padding: 0 2rem;

  .technology-title {
    color: $primary-color;
    text-align: center;
    margin-top: 1em;
  }

  .technologies-logo {
    // font-size: 4em;
    color: rgba(255, 255, 255, 0.3);
    img {
      height: 3em;
    }
  }

  .education-container {
    // border: 1px solid white;

    .current {
      display: flex;
      justify-content: center;
      color: $text-dark-color;

      .current-date {
        width: 8rem;
        margin-right: 4em;
        display: inherit;
        justify-content: flex-end;
        color: $primary-color;
      }

      .current-info {
        display: inherit;
        flex-direction: column;
        align-items: flex-start;
        width: 30rem;
        height: 10rem;
        padding-left: 4rem;
        padding-bottom: 4rem;
        position: relative;
        border-left: 1px solid $primary-color;

        &::before {
          content: "";
          position: absolute;
          border: 1px solid white;
          background-color: $primary-color;
          left: -7px;
          top: -6px;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          animation: pulse 1s infinite;
        }

        .current-post {
          border: 1px solid white;
          height: 5rem;
          width: 100%;
        }
      }
    }

    .avion,
    .cit {
      // border: 1px solid white;
      display: flex;
      justify-content: center;
      color: $text-dark-color;

      .avion-date,
      .cit-date {
        width: 8rem;
        margin-right: 4em;
        display: inherit;
        flex-direction: column;

        p {
          margin: 0;
          align-self: flex-end;
        }
      }

      .avion-info,
      .cit-info {
        display: inherit;
        align-items: flex-start;
        width: 30rem;
        height: 10rem;
        padding-left: 4rem;
        padding-bottom: 4rem;
        border-left: 1px solid gray;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          border: 1px solid white;
          background-color: $color-black;
          left: -7px;
          top: -6px;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          box-shadow: 0 0 0 5px $primary-color2;
        }

        p {
          margin: 0;
        }
      }
    }

    .education-title {
      color: $primary-color;
      text-align: center;
      margin-top: 1em;
    }
  }

  h3 {
    font-weight: 100;
    color: $text-dark-color;
    span {
      margin-left: 0.3em;
      font-size: 2em;
      font-family: "Dancing Script", cursive;
      color: $primary-color;
    }
  }

  p {
    font-weight: 100;
    color: $text-dark-color;
  }
}

@media (max-width: 800px) {
  .about-container {
    padding: 0;
  }
}
