@import './variables';

.about-container {
  width: 100%;
  padding: 0 2rem;
  overflow-y: scroll;
  display: grid;
  place-items: center;

  &::before {
    content: '';
    height: 0px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    z-index: 2;
    box-shadow: 0 0 30px 40px $color-black;
  }

  @for $i from 1 to 4 {
    .container:nth-child(#{$i}) {
      animation: aboutPageTransition
        $animation-transition
        ease
        #{$i *
        0.15}s
        1
        normal
        forwards;

      @keyframes aboutPageTransition {
        from {
          opacity: 0;
          transform: translateY(100px);
        }

        to {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .about-intro {
    width: 50rem;
    max-width: 90%;
    opacity: 0;

    h3 {
      font-weight: 100;
      color: $text-dark-color;

      span {
        margin-left: 0.3em;
        font-size: 2em;
        font-family: 'Dancing Script', cursive;
        color: $primary-color;
      }
    }

    p {
      font-weight: 100;
      color: $text-dark-color;
    }
  }

  .technology-container {
    width: 50rem;
    max-width: 90%;
    height: 11rem;
    opacity: 0;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      height: 100%;
      width: 0px;
      background-color: transparent;
      position: absolute;
      left: 0;
      z-index: 2;
      box-shadow: 0 0 30px 40px $color-black;
    }

    &::after {
      content: '';
      height: 100%;
      width: 0px;
      background-color: transparent;
      position: absolute;
      right: 0;
      z-index: 2;
      box-shadow: 0 0 30px 40px $color-black;
    }

    .technology-title {
      color: $primary-color;
      text-align: center;
      margin-top: 1em;
    }

    .technologies-logo {
      color: rgba(255, 255, 255, 0.3);
      display: flex;
      justify-content: space-between;
      position: relative;
      height: auto;

      .carousel-slider {
        display: flex;
        position: absolute;
        left: 0;
        width: 200%;

        // &:hover {
        //   animation-play-state: paused;
        // }

        animation: marquee 20s linear infinite;

        @keyframes marquee {
          from {
            left: 0;
          }
          to {
            left: -100%;
          }
        }

        .image-container {
          width: 50%;
          display: flex;
          justify-content: space-around;

          img {
            width: 4rem;
            user-select: none;
            opacity: 0.5;
            transition: 300ms;

            &:hover {
              filter: drop-shadow(0 0 15px $primary-color);
              opacity: 2;
            }
          }
        }
      }
    }
  }

  .timeline-container {
    opacity: 0;

    .timeline-title {
      color: $primary-color;
      text-align: center;
      margin: 1em 0 2em 0;
    }

    .current {
      display: flex;
      justify-content: center;
      color: $text-dark-color;
      transition: opacity 400ms;

      .current-date {
        width: 8rem;
        margin-right: 4em;
        display: inherit;
        text-align: center;
        justify-content: flex-end;
        // color: $primary-color;
        color: 'white';
      }

      .current-info {
        display: inherit;
        flex-direction: column;
        align-items: flex-start;
        width: 30rem;
        height: auto;
        padding-left: 4rem;
        padding-bottom: 4rem;
        position: relative;
        border-left: 1px solid $primary-color;

        &::before {
          content: '';
          position: absolute;
          border: 1px solid white;
          background-color: $primary-color;
          left: -7px;
          top: -6px;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          animation: pulse 1s infinite;
        }

        .post {
          height: auto;
          width: 100%;
          border-radius: 10px;
          padding: 1.5rem;
          margin-top: 1rem;
          background-color: $background-color2;
          box-shadow: inset 0 0 1px $text-dark-color2;

          .post-header {
            display: flex;
            justify-content: space-between;

            .header-profile {
              display: inherit;
              align-items: center;

              a {
                display: inherit;
                align-items: center;

                img {
                  width: 2.5rem;
                  height: 2.5rem;
                  border-radius: 100%;
                  border: 1px solid $primary-color;
                  cursor: pointer;
                  transition: opacity 200ms;

                  &:hover {
                    opacity: 0.8;
                  }
                }
              }

              .profile-details {
                display: inherit;
                flex-direction: column;
                margin-left: 0.5rem;

                span {
                  &:nth-child(1) {
                    color: $color-white;
                  }

                  &:nth-child(2) {
                    font-size: 0.7rem;
                  }
                }
              }
            }

            a {
              display: inherit;
              align-items: center;

              i {
                align-self: center;
                font-size: 2rem;
                margin-right: 0.5rem;
                cursor: pointer;
                transition: color 200ms;
                color: $text-dark-color;

                &:hover {
                  color: $text-dark-color2;
                }
              }
            }
          }

          .post-caption {
            font-size: 0.8rem;
          }

          .post-image {
            width: 100%;
            height: 220px;
            object-fit: contain;
            object-position: center;
            border-radius: 10px;
          }
        }
      }
    }

    .avion {
      display: flex;
      justify-content: center;
      color: $text-dark-color;
      transition: opacity 400ms;
      opacity: 0.4;

      .avion-date {
        width: 8rem;
        margin-right: 4em;
        display: inherit;
        flex-direction: column;

        p {
          margin: 0;
          align-self: flex-end;
        }
      }

      .avion-info {
        display: inherit;
        flex-direction: column;
        align-items: flex-start;
        width: 30rem;
        height: auto;
        padding-left: 4rem;
        padding-bottom: 4rem;
        position: relative;
        border-left: 1px solid $text-dark-color2;

        &::before {
          content: '';
          position: absolute;
          border: 1px solid white;
          background-color: $background-color2;
          left: -7px;
          top: -6px;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          box-shadow: 0 0 0 3px $text-dark-color2;
        }

        .avion-post {
          height: auto;
          width: 100%;
          border-radius: 10px;
          padding: 1.5rem;
          margin-top: 1rem;
          background-color: $background-color2;
          box-shadow: inset 0 0 1px $text-dark-color2;

          .post-header {
            display: flex;
            justify-content: space-between;

            .header-profile {
              display: inherit;
              align-items: center;

              a {
                display: inherit;
                align-items: center;

                img {
                  width: 2.5rem;
                  height: 2.5rem;
                  border-radius: 100%;
                  border: 1px solid $primary-color;
                  cursor: pointer;
                  transition: opacity 200ms;

                  &:hover {
                    opacity: 0.8;
                  }
                }
              }

              .profile-details {
                display: inherit;
                flex-direction: column;
                margin-left: 0.5rem;

                span {
                  &:nth-child(1) {
                    color: $color-white;
                  }

                  &:nth-child(2) {
                    font-size: 0.7rem;
                  }
                }
              }
            }

            a {
              display: inherit;
              align-items: center;

              i {
                align-self: center;
                font-size: 2rem;
                margin-right: 0.5rem;
                cursor: pointer;
                transition: color 200ms;
                color: $text-dark-color;

                &:hover {
                  color: $text-dark-color2;
                }
              }
            }
          }

          .post-caption {
            font-size: 0.8rem;
          }

          .post-image {
            width: 100%;
            height: 14rem;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
          }
        }
      }
    }

    .cit {
      display: flex;
      justify-content: center;
      color: $text-dark-color;
      transition: opacity 400ms;
      opacity: 0.4;

      .cit-date {
        width: 8rem;
        margin-right: 4em;
        display: inherit;
        flex-direction: column;

        p {
          margin: 0;
          align-self: flex-end;
        }
      }

      .cit-info {
        display: inherit;
        flex-direction: column;
        align-items: flex-start;
        width: 30rem;
        height: auto;
        padding-left: 4rem;
        padding-bottom: 4rem;
        position: relative;
        // border-left: 1px solid $text-dark-color2;

        &::before {
          content: '';
          position: absolute;
          border: 1px solid white;
          background-color: $background-color2;
          left: -7px;
          top: -6px;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          box-shadow: 0 0 0 3px $text-dark-color2;
        }

        .cit-post {
          height: auto;
          width: 100%;
          border-radius: 10px;
          padding: 1.5rem;
          margin-top: 1rem;
          background-color: $background-color2;
          box-shadow: inset 0 0 1px $text-dark-color2;

          .post-header {
            display: flex;
            justify-content: space-between;

            .header-profile {
              display: inherit;
              align-items: center;

              img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100%;
                border: 1px solid $primary-color;
                cursor: pointer;
                transition: opacity 200ms;

                &:hover {
                  opacity: 0.8;
                }
              }

              .profile-details {
                display: inherit;
                flex-direction: column;
                margin-left: 0.5rem;

                span {
                  &:nth-child(1) {
                    color: $color-white;
                    font-size: 0.9rem;
                  }

                  &:nth-child(2) {
                    font-size: 0.7rem;
                  }
                }
              }
            }

            i {
              align-self: center;
              font-size: 2rem;
              margin-right: 0.5rem;
              cursor: pointer;
              transition: color 200ms;

              &:hover {
                color: $text-dark-color2;
              }
            }
          }

          .post-image {
            width: 100%;
            height: 14rem;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .about-container {
    padding: 0;
    align-items: flex-start;

    &::before {
      box-shadow: 0 0 10px 10px $color-black;
    }

    .about-intro {
      width: 90%;

      h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 0.9rem;
      }
    }

    .technology-container {
      width: 90%;
      height: 7rem;

      &::before {
        box-shadow: 0 0 10px 10px $color-black;
      }

      &::after {
        box-shadow: 0 0 10px 10px $color-black;
      }

      .technology-title {
        color: $primary-color;
        text-align: center;
        margin-top: 1em;
        font-size: 1.2rem;
      }

      .technologies-logo {
        .carousel-slider {
          display: flex;
          position: absolute;
          left: 0;
          width: 200%;

          &:hover {
            animation-play-state: running;
          }

          .image-container {
            img {
              width: 2rem;
            }
          }
        }
      }
    }

    .timeline-container {
      opacity: 0;
      width: 90%;

      .timeline-title {
        color: $primary-color;
        text-align: center;
        margin: 0em 0 1em 0;
        font-size: 1.2rem;
      }

      .current {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .caption {
          font-size: 0.9rem;
        }

        .current-date {
          width: 10rem;
          margin-right: 0;
          margin-bottom: 0.5rem;
          justify-content: flex-start;
          padding-left: 5vw;
        }

        .current-info {
          align-items: flex-start;
          width: 100%;
          height: auto;
          padding-left: 5vw;
          padding-bottom: 3vh;

          .post {
            padding: 4vw;

            .post-header {
              display: flex;
              justify-content: space-between;

              .header-profile {
                a {
                  img {
                    width: 2.2rem;
                    height: 2.2rem;
                  }
                }

                .profile-details {
                  display: inherit;
                  flex-direction: column;
                  margin-left: 0.5rem;

                  span {
                    &:nth-child(1) {
                      color: $color-white;
                      font-size: 0.9rem;
                    }

                    &:nth-child(2) {
                      font-size: 0.6rem;
                    }
                  }
                }
              }

              a {
                display: inherit;
                align-items: center;

                i {
                  font-size: 1.5rem;
                }
              }
            }

            .post-caption {
              font-size: 0.7rem;
            }
          }
        }
      }

      .avion {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .avion-date {
          display: flex;
          margin-right: 0;
          margin-bottom: 0.5rem;
          justify-content: flex-start;
          padding-left: 5vw;

          p {
            display: none;
          }
        }

        .avion-info {
          align-items: flex-start;
          width: 100%;
          height: auto;
          padding-left: 5vw;
          padding-bottom: 3vh;

          .avion-caption {
            font-size: 0.8rem;
          }

          .avion-post {
            padding: 4vw;

            .post-header {
              display: flex;
              justify-content: space-between;

              .header-profile {
                a {
                  img {
                    width: 2.2rem;
                    height: 2.2rem;
                  }
                }

                .profile-details {
                  display: inherit;
                  flex-direction: column;
                  margin-left: 0.5rem;

                  span {
                    &:nth-child(1) {
                      color: $color-white;
                      font-size: 0.9rem;
                    }

                    &:nth-child(2) {
                      font-size: 0.6rem;
                    }
                  }
                }
              }

              a {
                display: inherit;
                align-items: center;

                i {
                  font-size: 1.5rem;
                }
              }
            }

            .post-caption {
              font-size: 0.7rem;
            }

            .post-image {
              width: 100%;
              height: auto;
              object-fit: cover;
              object-position: center;
              border-radius: 10px;
            }
          }
        }
      }

      .cit {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .cit-date {
          display: flex;
          margin-right: 0;
          margin-bottom: 0.5rem;
          justify-content: flex-start;
          padding-left: 5vw;

          p {
            display: none;
          }
        }

        .cit-info {
          align-items: flex-start;
          width: 100%;
          height: auto;
          padding-left: 5vw;
          padding-bottom: 5vh;

          .cit-caption {
            font-size: 0.8rem;
          }

          .cit-post {
            padding: 4vw;

            .post-header {
              display: flex;
              justify-content: space-between;

              .header-profile {
                // a {
                img {
                  width: 2.2rem;
                  height: 2.2rem;
                }
                // }

                .profile-details {
                  display: inherit;
                  flex-direction: column;
                  margin-left: 0.5rem;

                  span {
                    &:nth-child(1) {
                      color: $color-white;
                      font-size: 0.9rem;
                    }

                    &:nth-child(2) {
                      font-size: 0.6rem;
                    }
                  }
                }
              }

              // a {
              //   display: inherit;
              //   align-items: center;

              i {
                font-size: 1.5rem;
              }
              // }
            }

            .post-image {
              width: 100%;
              height: auto;
              object-fit: cover;
              object-position: center;
              border-radius: 10px;
              margin-top: 1rem;
            }
          }
        }
      }
    }
  }
}
