@import "./variables.scss";
@import "./menu.scss";

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
  background-color: $color-black;
  margin: 0;
  padding: 0;
  font-family: "FreeSans", sans-serif;
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 100vw;
  perspective: 200rem;

  &[data-clicked-nav="0"] > .project-wrapper {
    display: grid;
  }

  &[data-clicked-nav="1"] > .about-wrapper {
    display: flex;
  }

  &[data-clicked-nav="2"] > .contact-wrapper {
    display: flex;
  }

  &[data-clicked-nav="3"] > .resume-wrapper {
    display: flex;
  }

  .intro-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 800ms $transition-cubic;
    backdrop-filter: blur(3px);

    .intro-name,
    .intro-title {
      color: $color-white;
      user-select: none;
    }

    .intro-name {
      position: absolute;
      animation: intro 2s linear 0s 1 normal forwards;
      font-size: 2rem;
      transition: 1000ms ease;

      span {
        color: $primary-color;
      }
    }

    .intro-title {
      animation: intro 1.5s ease-in-out 1.5s 1 normal forwards;
      opacity: 0;
      font-size: 1rem;
      transition: 500ms ease;
    }

    @keyframes intro {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  .project-wrapper {
    height: 70vh;
    display: grid;
    place-items: center;
    position: relative;
    transition: 500ms $transition-cubic;
    display: none;

    .project-shade-top {
      width: 100%;
      height: 2px;
      background-color: $color-black;
      position: absolute;
      top: 0;
      margin: auto;
      display: inline-block;
      box-shadow: 0px 10px 30px 30px $color-black;
      opacity: 0;
      z-index: 1;
      transition: opacity 400ms ease;
    }

    .project-shade-bottom {
      width: 100%;
      height: 2px;
      background-color: $color-black;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: auto;
      display: inline-block;
      vertical-align: bottom;
      box-shadow: 0px -10px 30px 30px $color-black;
      opacity: 0;
      z-index: 1;
      transition: opacity 400ms ease-in-out;
    }

    .project-container {
      height: 100%;
      max-width: 80vw;
      width: 70rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 280px);
      justify-content: center;
      overflow-y: scroll;
      padding: 1rem;
      gap: 10px;
      transition: transform 1000ms $transition-cubic;

      &::-webkit-scrollbar {
        width: 0;
        opacity: 0;
      }

      .grid-column-span-2 {
        grid-column: span 2;
        height: 100%;
      }

      &:hover > .project > .project-border {
        opacity: 1;
      }

      .project {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        opacity: 0;
        backdrop-filter: blur(10px);
        position: relative;
        transition: scale 200ms ease;

        @for $i from 1 to 9 {
          &:nth-child(#{$i}) {
            animation: projectAnimation
              0.5s
              ease
              #{$i *
              0.1}s
              1
              normal
              forwards;
          }

          @keyframes projectAnimation {
            0% {
              scale: 1.3;
              transform: translateY(50px);
              opacity: 0;
            }

            100% {
              scale: 1;
              transform: translate(0px);
              opacity: 1;
            }
          }
        }

        // &:hover {
        //   scale: 1.05;
        //   z-index: 5;
        // }

        .project-content {
          background-color: $project-content;
          border-radius: inherit;
          height: calc(100% - 2px);
          width: calc(100% - 2px);
          margin: 1px;
          z-index: 2;
          position: relative;
        }

        &:hover::before {
          opacity: 1;
        }

        &::before,
        .project-border {
          content: "";
          border-radius: inherit;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          transition: opacity 500ms;
        }

        &::before {
          background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.03),
            transparent 40%
          );
          z-index: 3;
        }

        .project-border {
          background: radial-gradient(
            400px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.3),
            transparent 40%
          );
          z-index: 1;
        }
      }

      .project5 {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
  }

  .about-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    // transition: 500ms $transition-cubic;
    display: none;
    opacity: 0;
    animation: aboutWrapper 1s cubic-bezier(0.15, 0.54, 0.3, 0.9) 0s 1 normal
      forwards;

    .about-container {
      width: 70rem;
      max-width: 80%;
      padding: 1rem;

      .technologies {
        font-size: 4em;
        color: rgba(255, 255, 255, 0.3);
      }
    }

    @keyframes aboutWrapper {
      0% {
        transform: translateY(150px);
        opacity: 0;
      }

      100% {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }

  .resume-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    transition: 500ms $transition-cubic;
    display: none;
    opacity: 0;
    animation: resumeWrapper 1s cubic-bezier(0.15, 0.54, 0.3, 0.9) 0s 1 normal
      forwards;

    @keyframes resumeWrapper {
      0% {
        scale: 1.3;
        transform: translateY(150px);
        opacity: 0;
      }

      100% {
        scale: 1;
        transform: translate(0px);
        opacity: 1;
      }
    }
  }

  .contact-wrapper {
    height: auto;
    display: grid;
    place-content: center;
    position: relative;
    color: white;
    transition: 500ms $transition-cubic;
    display: none;
    opacity: 0;
    animation: contactWrapper 1s cubic-bezier(0.15, 0.54, 0.3, 0.9) 0s 1 normal
      forwards;

    @keyframes contactWrapper {
      0% {
        scale: 1.3;
        opacity: 0;
      }

      100% {
        scale: 1;
        opacity: 1;
      }
    }
  }

  .nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: clamp(1.5rem, 25vmin, 3rem);

    .nav-container {
      width: auto;
      text-align: center;
      border-radius: 5em;
      padding: 0em 2em;
      backdrop-filter: blur(5px);
      background: transparent;
      box-shadow: 0 0 2px $primary-color;
      opacity: 0;
      transition: opacity 1200ms $transition-cubic;
      user-select: none;
      height: auto;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;

      /* When navigation is clicked */

      &[data-active-index="0"] > .clicked {
        left: 20px;
      }

      &[data-active-index="1"] > .clicked {
        width: 64px;
        left: 94px;
      }

      &[data-active-index="2"] > .clicked {
        left: 153px;
        width: 73px;
      }

      &[data-active-index="3"] > .clicked {
        left: 222px;
      }

      /* When navigation is unhovered */

      &[data-active-index="0"] > .hover-dot {
        left: 57px;
      }

      &[data-active-index="1"] > .hover-dot {
        left: 123px;
      }

      &[data-active-index="2"] > .hover-dot {
        left: 187px;
      }

      &[data-active-index="3"] > .hover-dot {
        left: 258px;
      }

      /* When navigation is hovered */

      &[data-hover-index="0"] > .hover-dot {
        left: 57px;
      }

      &[data-hover-index="1"] > .hover-dot {
        left: 123px;
      }

      &[data-hover-index="2"] > .hover-dot {
        left: 187px;
      }

      &[data-hover-index="3"] > .hover-dot {
        left: 258px;
      }

      .nav-link {
        font-size: 1em;
        color: $color-white;
        border-radius: 5em;
        gap: 1rem;
        transition: background-color 200ms ease-in-out;
        cursor: pointer;
        user-select: none;
        padding: 1em 0em;
      }

      .social-links {
        display: flex;
        gap: 1em;
        padding-left: 1em;
        position: relative;

        &::before {
          content: "";
          height: 100%;
          width: 1px;
          position: absolute;
          left: 0;
          display: inline-block;
          margin: auto;
          z-index: 5;
          background-color: white;
          box-shadow: inset 0 0 4px black;
        }

        a {
          width: 2em;
          height: 2em;
          display: flex;
          align-items: center;
          justify-content: center;

          .fa-github,
          .fa-linkedin {
            font-size: 2em;
            color: white;
            height: auto;
            object-fit: contain;
            border-radius: 50%;
            cursor: pointer;
            transition: all 400ms $transition-cubic;
          }

          .fa-github:hover {
            color: rgb(120, 120, 120);
            scale: 1.5;
            transform: translateY(-10px);
          }

          .fa-linkedin:hover {
            color: rgb(91, 140, 182);
            scale: 1.5;
            transform: translateY(-10px);
          }
        }
      }

      .hover-dot {
        position: absolute;
        width: 7px;
        height: 7px;
        left: 55px;
        top: -15px;
        border-radius: 50%;
        background-color: $primary-color;
        transition: all $transition-cubic 500ms;
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
        animation: pulse 2s infinite;

        @keyframes pulse {
          0% {
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
          }

          70% {
            box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
          }

          100% {
            // @include transform(scale(.9));
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
          }
        }
      }

      .clicked {
        position: absolute;
        height: 35px;
        width: 80px;
        border-radius: 20px;
        z-index: -1;
        left: 19px;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all $transition-cubic 1000ms;
      }
    }
  }
}

.view-project-cursor {
  position: absolute;
  height: auto;
  width: auto;
  color: white;
  font-size: 0.8em;
  padding: 0.7em 1em;
  background-color: rgba(255, 255, 255, 0.03);
  z-index: 11;
  pointer-events: none;
  user-select: none;
  border-radius: 5em;
  opacity: 0;
  transition: opacity 200ms ease;
}

@media (max-width: 800px) {
  html {
    overflow: hidden;
  }
  .intro-container {
    display: none;
    .intro-name {
      font-size: 0.1rem;
    }

    .intro-title {
      font-size: 0.1rem;
    }
  }

  .project-wrapper {
    display: none;
    flex-direction: column;

    .project-container {
      display: none;
      // grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

      .grid-column-span-2 {
        grid-column: auto;
      }
    }
  }

  .nav {
    font-size: 0.7em;

    .nav-container {
      background-color: orange;
      gap: 0.3;
      padding: 0.5em;

      .social-links {
        display: flex;
        gap: 0.5em;
      }

      .hover-dot,
      .clicked {
        display: none;
      }
    }
  }
}

@media (max-width: 1600px) {
  .intro-container {
    .intro-name {
      font-size: 0.1rem;
    }

    .intro-title {
      font-size: 0.1rem;
    }
  }
}
