@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

$color-black: rgb(20, 20, 20);
$primary-color: #50577a;

html {
  cursor: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $color-black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Rubik", sans-serif;

  #menu {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    user-select: none;
    transition: scale 400ms ease, opacity 400ms ease;

    ////////////// BACKGROUND PATTERN
    &[data-active-index="0"] > #menu-background-pattern {
      background-position: 0% -25%;
    }

    &[data-active-index="1"] > #menu-background-pattern {
      background-position: 0% -50%;
    }

    &[data-active-index="2"] > #menu-background-pattern {
      background-position: 0% -75%;
    }

    &[data-active-index="3"] > #menu-background-pattern {
      background-position: 0% -100%;
    }
    ////////////// BACKGROUND IMAGE
    &[data-active-index="0"] > #menu-background-image {
      background-position: center 45%;
    }

    &[data-active-index="1"] > #menu-background-image {
      background-position: center 55%;
    }

    &[data-active-index="2"] > #menu-background-image {
      background-position: center 65%;
    }

    &[data-active-index="3"] > #menu-background-image {
      background-position: center 75%;
    }
    //////////////////// MENU LOGO
    &[data-active-index="0"][data-hover="true"] > #menu-logo {
      rotate: -35deg;
    }

    &[data-active-index="1"][data-hover="true"] > #menu-logo {
      rotate: 55deg;
    }

    &[data-active-index="2"][data-hover="true"] > #menu-logo {
      rotate: 145deg;
    }

    &[data-active-index="3"][data-hover="true"] > #menu-logo {
      rotate: 235deg;
    }

    #menu-items {
      margin-left: clamp(4rem, 20vw, 48rem);
      position: relative;
      z-index: 2;

      &:hover ~ #menu-background-pattern {
        background-size: 11vmin 11vmin;
        opacity: 0.3;
      }

      &:hover ~ #menu-background-image {
        background-size: 100vmax;
        opacity: 0.4;
      }

      &:hover > .menu-item {
        opacity: 0.3;
      }

      &:hover > .menu-item:hover {
        opacity: 1;
      }

      &:hover ~ #menu-logo {
        scale: (2);
        opacity: 0.8;
      }

      &:hover ~ #menu-logo > span:nth-child(1) {
        scale: (1.2);
        opacity: 1;
        transform: translateX(-15vmin);

        i {
          rotate: 35deg;
        }
      }

      &:hover ~ #menu-logo > span:nth-child(2) {
        scale: (1.2);
        opacity: 1;
        transform: translateY(14vmin);

        i {
          rotate: -55deg;
        }
      }

      &:hover ~ #menu-logo > span:nth-child(3) {
        scale: (1.2);
        opacity: 1;
        transform: translateX(15vmin);

        i {
          rotate: -145deg;
        }
      }

      &:hover ~ #menu-logo > span:nth-child(4) {
        scale: (1.2);
        opacity: 1;
        transform: translateY(-13vmin);

        i {
          rotate: -228deg;
        }
      }

      &:hover ~ #menu-logo > span:nth-child(5) {
        scale: (1.2);
        opacity: 0;
      }

      .menu-item {
        color: white;
        font-size: clamp(3rem, 8vw, 8rem);
        font-family: "Rubik", sans-serif;
        display: block;
        text-decoration: none;
        padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
        transition: opacity 400ms ease, filter 800ms ease, transform 800ms ease;

        &:hover {
          text-shadow: 0px 0px 50px $primary-color;
        }
      }
    }

    #menu-logo {
      position: absolute;
      top: clamp(-1rem, -2vw, -2rem);
      right: clamp(-1rem, -2vw, -1rem);
      // left: 0;
      // right: 0;
      margin: auto;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      z-index: 2;
      height: clamp(6rem, 14vw, 19rem);
      width: clamp(6rem, 14vw, 19rem);
      border-radius: 50%;
      transition: rotate 4s cubic-bezier(0.02, 1.16, 0.19, 0.97),
        scale 700ms ease, opacity 700ms ease, scale 400ms ease;
      rotate: -135deg;
      opacity: 0.5;
      background: radial-gradient(
        $primary-color 40%,
        #041c32 80%,
        transparent 100%
      );
      filter: blur(2px);

      &:hover > span:nth-child(5) {
        scale: (1.2);
        rotate: 900deg;
        filter: blur(0);
      }

      &:hover {
        opacity: 0.8;
        scale: (2);
        filter: blur(0);
      }

      span {
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        color: $primary-color;
        font-size: clamp(2rem, 4vw, 7rem);
        pointer-events: none;
        opacity: 0;
        transition: 400ms ease;
        text-shadow: 0px 0px 30px $primary-color;
        filter: blur(5px);

        &:nth-child(5) {
          color: white;
          opacity: 1;
          transition: scale 400ms ease, opacity 400ms ease, rotate 70s linear,
            filter 400ms ease;
          rotate: 45deg;
          text-shadow: 0px 0px 10px white;
        }
      }
    }

    #menu-background-pattern {
      height: 100vh;
      width: 100vw;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      filter: blur(10px);

      background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
      );

      background-position: 0% 0%;
      background-size: 11vmin 11vmin;

      transition: opacity 800ms, background-size 800ms,
        background-position 4s cubic-bezier(0.03, 0.69, 0.27, 0.97);
    }

    #menu-background-image {
      height: 100%;
      width: 100%;
      filter: blur(10px);

      background-image: url("https://images.unsplash.com/photo-1624378515195-6bbdb73dff1a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");

      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 0;

      background-position: center 70%;
      background-size: 110vmax;

      opacity: 0.3;

      transition: opacity 800ms, background-size 800ms,
        background-position 800ms;
    }
  }
}

.inactive {
  animation: test 0.8s cubic-bezier(0.28, 0.01, 1, -0.14) 0s 1 normal forwards;
  filter: blur(10px);
}

.active {
  opacity: 1;
  text-shadow: 0px 0px 150px $primary-color;
  transform: translate(-10%, -30%);
  // animation: breath 1s ease 0s 123123 alternate alternate;
}

// @keyframes breath {
//   from {
//     text-shadow: 0px 0px 0px $primary-color;
//   }

//   to {
//     text-shadow: 0px 0px 150px $primary-color;
//   }
// }

@keyframes test {
  from {
    transform: translateX(0px);
    opacity: 0.3;
  }

  to {
    opacity: 0;

    transform: translateX(-1000px);
  }
}

.fa-arrow-pointer {
  font-size: 3rem;
  position: absolute;
  top: 0;
  z-index: 99999;
  pointer-events: none;
  color: $primary-color;
  text-shadow: 0 0 30px $primary-color;
  transition: opacity 700ms ease;
}

@media (max-width: 800px) {
  #menu-background-image {
    display: none;
  }

  .fa-arrow-pointer {
    display: none;
  }

  #menu-logo {
    filter: blur(0);
  }
}
